version: "3.8"

services:
  postgres:
    container_name: auth-postgres-local
    image: 'postgres:latest'
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_secret
    ports:
      - "5432:5432"
    networks:
      - backend-network
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    container_name: auth-pgadmin-local
    image: 'dpage/pgadmin4'
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: secret
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - backend-network
    restart: always

networks:
  backend-network:
    driver: bridge

volumes:
  postgres_data:

