<p-toast></p-toast>
<div class="login-container">
    <p-card class="login-card">
        <h2>Sign in</h2>
        <div class="input-field">
            <label for="email">Email</label>
            <input id="email" pInputText type="email" [(ngModel)]="email" placeholder="Enter email">
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input id="password" pInputText type="password" [(ngModel)]="password" placeholder="Enter password">
        </div>
        <button (click)="login()" class="login-button">Sign in</button>
        <p class="register-link">
            New user?
            <a routerLink="/register" routerLinkActive="active">Sign up</a>
        </p>
    </p-card>
</div>
